<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <section class="header-section">
        <h1>CONFETTI CUISINE</h1>
        <ul class="nav-ul">
            <li class="nav-list">Home</li>
            <li class="nav-list">Courses</li>
            <li class="nav-list">Contact</li>
        </ul>
    </section>
    <section>
        <form class="contact-form" action="/" method="post">
            <input type="email" name="email" required>
            <input class="button" type="submit" value="submit">
        </form>
    </section>
    <section class="footer-section"></section>
        <p>powered by: nodejs</p>
    </section>
</body>
</html>